@font-face {
  font-family: "Lexend Mega";
  src: url("LexendMega-VariableFont_wght.ttf")
      format("woff2 supports variations"),
    url("LexendMega-VariableFont_wght.ttf") format("woff2-variations");
  font-weight: 100 900;
}

:root {
  --font-fallback: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-sans;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Lexend Mega", var(--font-fallback);
  font-weight: 400;
}

body {
  background-color: #181818;
}
